<!DOCTYPE html>
<html>

<head>

</head>

<body>
    {{>header}}
    <br> <br>
    <p>This is a weather app. It uses Mapbox API and OpenWeatherMap API.</p>
    <img src="image/weather.png" width="200" height="300">
    <br> <br>

    {{>footer}}
</body>

</html>